.baslik
{
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0)!important;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.tr-border
{
    border-width: 0px;
}

.baslik-yazi
{
    margin-bottom: 0em;
}

.margin1
{
    margin-bottom: 1em;
}

.resim
{
    width: 110px;
    height: 110px;
}

.resim-link
{
    border-bottom-style: none;
}

.makale-baslik
{
    text-align: center;
}

.ortala
{
    text-align: center;
}

.aktif
{
    box-shadow: inset 0 0 0 1px #2ebaae;
    color: #2ebaae !important;
}

.icerik
{
    text-align: justify;
}

.kategori-baslik 
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 42px/normal "PT Mono", Helvetica, sans-serif;
    color: rgba(107,107,107,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgba(180,180,180,1) , -1px -1px 0 rgba(180,180,180,1) , 1px -1px 0 rgba(180,180,180,1) , -1px 1px 0 rgba(180,180,180,1) , -1px 1px 8px rgba(114,114,114,1) ;
}
